.new-asset{:style => "display: none"}
  %h2 Upload a new image
  %hr
  .asset-upload-form
    = view_create(:assets)
.choose-asset
  %h2 Choose a previously uploaded image
  %hr
  = view_list(:assets)
.current-asset
  %hr
  %a.asset-chooser-toggle{:href => "#"} Choose a previously uploaded image instead
  %hr
  %p 
    Currently chosen image:
    %em= model.name
  .preview
    = model.to_asset_tag
:javascript
  $(".asset-chooser-toggle").toggle(function(){
    $(this).text("Choose a previously uploaded image instead");
    $(".new-asset").show();
    $(".choose-asset").hide();
  }, function(){
    $(this).text("Upload a new image instead");
    $(".new-asset").hide();
    $(".choose-asset").show();
  });