- packet.add_js("page-list-effects.js", :module => "_sparkles_")
- colorbox ||= false
.list-view
  .asset-list
    - for asset in list
      .asset-tile{:id => asset.id}
        %p.asset_tag
          -if(asset.image?)
            = asset.to_asset_tag
          -elsif(asset.pdf?)
            %img{:src => '/assets/_sparkles_/images/pdf_icon.png'}
          -else
            %img{:src => '/assets/_sparkles_/images/file_icon.png'}
        %p
          - if colorbox
            %em= asset.name
          - else
            %em
              %a{:href => route_to(:assets, asset.id, :edit)}= asset.name
  %br.clearfix
- if colorbox
  :javascript
    $(".asset-tile .asset_tag a").click(function(ret){ 
      var tile = $(this).closest('.asset-tile');
      var id = tile.attr("id");
      $.markItUp({ replaceWith: '<o:asset id="'+id+'" />' } );
      $.fn.colorbox.close();
      return false;
    });
    $(".asset-tile").click(function(ret){ 
      var tile = $(this);
      var link = $.fn.colorbox.element();
      var preview = link.prev();
      var input_name = link.attr('rel');
      var id = tile.attr("id");
      preview.html(tile.children(".asset_tag").html());
      $("[name*='"+input_name+"']").attr("value", id);
      link.attr("href", "/admin/assets/"+tile.attr("id")+"/change");
      link.text("Change Asset");
      $.fn.colorbox.close();
    });