.asset-list
  - for asset in list
    .asset-tile{:id => asset.id}
      %p.asset_tag
        -if(asset.image?)
          = asset.to_asset_tag
        -elsif(asset.pdf?)
          %img{:src => '/assets/_sparkles_/images/pdf_icon.png'}
        -else
          %img{:src => '/assets/_sparkles_/images/file_icon.png'}
      %p.asset_name
        - name = asset.name.size > 50 ? asset.name[0,50] + '...' : asset.name
        %em= name
:javascript
  $(".asset-tile .asset_tag a").click(function(ret){ 
    var tile = $(this).closest('.asset-tile');
    var id = tile.attr("id");
    var my_name = $(".asset_name", tile).text().trim();
    $.markItUp({ replaceWith: '<o:asset id="'+id+'">'+my_name+'</o:asset>' } );
    $.fn.colorbox.close();
    return false;
  });
  $(".asset-tile").click(function(ret){ 
    var tile = $(this);
    var id = tile.attr("id");
    var my_name = $(".asset_name", tile).text().trim();
    $.markItUp({ replaceWith: '<o:asset id="'+id+'">'+my_name+'</o:asset>' } );
    $.fn.colorbox.close();
  });