.asset-list
  - for asset in list
    .asset-tile{:id => asset.id}
      %p.asset_tag= asset.to_asset_tag
      %p
        %em= asset.name
:javascript
  $(".asset-tile").click(function(ret){ 
    var tile = $(this);
    var id = tile.attr("id");
    $.markItUp({ replaceWith: '<o:asset id="'+id+'" />' } );
    $.fn.colorbox.close();
  });