- packet.add_js("page-list-effects.js", :module => "_sparkles_")
- packet["page.title"] = "Blog"
- is_short ||= false
#blog-list.list-view
  %table.tablesorter
    %thead
      %tr.list-header-group
        %th.list-header.page-listing-expand-collapse
          &nbsp;
        %th.list-header
          Blog Title
        %th.list-header
          Date
        %th.list-header
          Status
        %td.list-header
          Actions
    %tfoot
      %tr
        %td &nbsp;
        %td &nbsp;
        %td &nbsp;
        %td &nbsp;
        %td
          %a.button.add-button{:href => route_to(model_name, :create)} Add new Post
    %tbody.pages
      - for post in list
        %tr.page-listing-item{:id => "blog-post-#{post.id}"}
          = view_table_row(model_name, :model => post)
  .pager
    %form
      %img.first{:src=>"/assets/_sparkles_/images/tablesorter/first.png"}
      %img.prev{:src=>"/assets/_sparkles_/images/tablesorter/prev.png"}
      %input.pagedisplay{:type => "text"}
      %img.next{:src=>"/assets/_sparkles_/images/tablesorter/next.png"}
      %img.last{:src=>"/assets/_sparkles_/images/tablesorter/last.png"}
      %select.pagesize
        %option{:value => "5", :selected => is_short ? true : false} 5
        %option{:value => "10", :selected => is_short ? false : true} 10
        %option{:value => "25"} 25