!!! 1.1
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
%head
  %title Sparkles : Login
  %link{:rel => "stylesheet", :href => "/assets/_sparkles_/css/sparkles-admin.css", :media => "Screen"}
  %script{:src => "/assets/_sparkles_/js/jquery-1.4.1.min.js", :type => "text/javascript"}
  :javascript
    function openOpenIDWindow(openid){
      $('#login-box .providers').hide();
      $('#login-box .logging_in').show();
      
      if(openid) window.open('/auth/open_id?openid_url='+encodeURIComponent(openid), 'openid_popup', 'width=500,height=450');
      else window.open('/auth/open_id', 'openid_popup', 'width=500,height=450');
    }
    function openOAuthWindow(url){
      window.open(url, 'openid_popup','width=900,height=600');
    }
    function handleAuthResponse(redirect_to, valid){
      if(valid){
        window.location = redirect_to;
      }
      else{
        $('#login-box .providers').show();
        $('#login-box .providers .login_error').show();
        $('#login-box .logging_in').hide();
      }
    }
%body
  %div#header
  %div#subheader
    %h1
      %img.subhead-icon{:src => "/assets/_sparkles_/images/lock.png", :width => "23", :height => "22", :alt => "Login icon"} Login
  %div#page-content
    %h1 Welcome to Sparkles*.
    %h2 You'll need to log in before you can continue.
    %div#login-box
      - unless packet.flash['login.message'].blank?
        .message
          %p= packet.flash('login.message')
      .providers
        .login_error{:style => "display: none"}
          .message
            %p Looks like you don't have access with the login info you've used. Try another provider?
        %label.center-block
          Choose a Login Provider
        %a{:href => "#", :onclick => "openOpenIDWindow(\"https://www.google.com/accounts/o8/id\"); return false;"}
          %img{:src => "/assets/_administration_/images/google_badge.png", :border => "0"}
        %a{:href => "#", :onclick => "openOpenIDWindow(\"https://www.yahoo.com\"); return false;"}
          %img{:src => "/assets/_administration_/images/yahoo_badge.png", :border => "0"}
        %a{:href => "#", :onclick => "openOpenIDWindow(false); return false;"}
          %img{:src => "/assets/_administration_/images/openid_badge.png", :border => "0"}
        - unless(orange.options['omniauth_twitter'].blank?)
          %a{:href => "#", :onclick => "openOAuthWindow('/auth/twitter'); return false;"}
            %img{:src => "/assets/_administration_/images/twitter_badge.png", :border => "0"}
        - unless(orange.options['omniauth_github'].blank?)
          %a{:href => "#", :onclick => "openOAuthWindow('/auth/github'); return false;"}
            %img{:src => "/assets/_administration_/images/github_badge.png", :border => "0"}
        - unless(orange.options['omniauth_facebook'].blank?)
          %a{:href => "#", :onclick => "openOAuthWindow('/auth/facebook'); return false;"}
            %img{:src => "/assets/_administration_/images/facebook_badge.png", :border => "0"}
      .logging_in{:style => "display: none"}
        %label.center-block
          Attempting to sign in... 
        %img{:src => "/assets/_administration_/images/ajax_loader.gif"}
  %div#footer 
    powered by
    %span.orange-text Sparkles*