- packet.add_js("page-list-effects.js", :module => "_sparkles_")
- packet["page.title"] = "Pages"
#pages-list.list-view
  %table
    %thead
      %tr.list-header-group
        %td.list-header.page-listing-expand-collapse
          &nbsp;
        %td.list-header
          Page Title
        %td.list-header
          Status
        %td.list-header
          Actions
    %tfoot
      %tr
        %td &nbsp;
        %td &nbsp;
        %td &nbsp;
        %td
          %a.button.add-button{:href => route_to(:pages, :create)} Add new Page
          %a.button.add-button{:href => route_to(:sitemap, :create)} Add Link/Folder
    %tbody.pages.no-bullet
      - for page in list
        %tr.page-listing-item{:id => "route-#{page.id}", :class => (page.level > 1 ? "page-listing-child child-of-route-#{page.parent.id}" : "")}
          = view_table_row(model_name, :model => page)