%ul.nav
  %li.first
    %a{:href => "#{orange[:subsites].url_for(packet).gsub(/\/$/, '')}#{model.full_path}"}= packet["subsite"].name
  - for item in model.children
    - next unless item.show_in_nav
    %li
      %a{:href => "#{orange[:subsites].url_for(packet).gsub(/\/$/, '')}#{item.full_path}"}= orange[:sitemap].link_text_for(item)