%nav.clearfix
  .breadcrumb.grid_15.suffix_1.alpha
    = orange[:sitemap].breadcrumb(packet)
  %section.social_buttons.grid_6.omega
    %header.grid_2.prefix_1.alpha
      %h1 Follow us:
    %ul.grid_3.omega
      %li
        %a{:href => "http://www.twitter.com/wnsf2009"} 
          %img{:src => '/assets/public/images/twitter_sticker_small.png'}
      %li
        %a{:href => "http://www.facebook.com/pages/WNSF/134628901298"} 
          %img{:src => '/assets/public/images/facebook_sticker_small.png'}
      - unless packet['site'].vimeo_page.blank?
        %li
          %a{:href => packet['site'].vimeo_page} 
            %img{:src => '/assets/public/images/vimeo_sticker_small.png'}